<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_stateregulator.name %>
</p>

<%= link_to 'Edit', edit_v_stateregulator_path(@v_stateregulator) %> |
<%= link_to 'Back', v_stateregulators_path %>
