<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vs_data_pkg_transfer_event.name %>
</p>

<%= link_to 'Edit', edit_vs_data_pkg_transfer_event_path(@vs_data_pkg_transfer_event) %> |
<%= link_to 'Back', vs_data_pkg_transfer_events_path %>
