<h1>Editing Ar Flampactuator Defaultlightstate</h1>

<%= render 'form' %>

<%= link_to 'Show', @ar_flampactuator_defaultlightstate %> |
<%= link_to 'Back', ar_flampactuator_defaultlightstates_path %>
