<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_type_alarm_lamp.name %>
</p>

<%= link_to 'Edit', edit_v_type_alarm_lamp_path(@v_type_alarm_lamp) %> |
<%= link_to 'Back', v_type_alarm_lamps_path %>
