<h1>Editing Ar Flampactuator Feedbacklightcommand</h1>

<%= render 'form' %>

<%= link_to 'Show', @ar_flampactuator_feedbacklightcommand %> |
<%= link_to 'Back', ar_flampactuator_feedbacklightcommands_path %>
