<h1>Editing Ar Flampactuator Defaultscenestate</h1>

<%= render 'form' %>

<%= link_to 'Show', @ar_flampactuator_defaultscenestate %> |
<%= link_to 'Back', ar_flampactuator_defaultscenestates_path %>
