<h1>Editing Ed Logicaldev Vs Light Control Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @ed_logicaldev_vs_light_control_event %> |
<%= link_to 'Back', ed_logicaldev_vs_light_control_events_path %>
