<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vf_communication_event.name %>
</p>

<%= link_to 'Edit', edit_vf_communication_event_path(@vf_communication_event) %> |
<%= link_to 'Back', vf_communication_events_path %>
