<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @f_communication.ed_logicaldev %>
</p>

<%= link_to 'Edit', edit_f_communication_path(@f_communication) %> |
<%= link_to 'Back', f_communications_path %>
