<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vf_basic_event.name %>
</p>

<%= link_to 'Edit', edit_vf_basic_event_path(@vf_basic_event) %> |
<%= link_to 'Back', vf_basic_events_path %>
