<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_storagetype.name %>
</p>

<%= link_to 'Edit', edit_v_storagetype_path(@v_storagetype) %> |
<%= link_to 'Back', v_storagetypes_path %>
