<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vs_light_control_event.name %>
</p>

<%= link_to 'Edit', edit_vs_light_control_event_path(@vs_light_control_event) %> |
<%= link_to 'Back', vs_light_control_events_path %>
