<h1>Editing Si Alarm Circuit Si Physicaldevcircuit</h1>

<%= render 'form' %>

<%= link_to 'Show', @si_alarm_circuit_si_physicaldevcircuit %> |
<%= link_to 'Back', si_alarm_circuit_si_physicaldevcircuits_path %>
