<h1>Editing Ed Logicaldev Si Physicaldevcircuit</h1>

<%= render 'form' %>

<%= link_to 'Show', @ed_logicaldev_si_physicaldevcircuit %> |
<%= link_to 'Back', ed_logicaldev_si_physicaldevcircuits_path %>
