<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @f_lampactuator.ed_logicaldev %>
</p>

<%= link_to 'Edit', edit_f_lampactuator_path(@f_lampactuator) %> |
<%= link_to 'Back', f_lampactuators_path %>
