<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_threshold_type.name %>
</p>

<%= link_to 'Edit', edit_v_threshold_type_path(@v_threshold_type) %> |
<%= link_to 'Back', v_threshold_types_path %>
