<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @v_account.description %>
</p>

<%= link_to 'Edit', edit_v_account_path(@v_account) %> |
<%= link_to 'Back', v_accounts_path %>
