<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vf_electrical_meter_event.name %>
</p>

<%= link_to 'Edit', edit_vf_electrical_meter_event_path(@vf_electrical_meter_event) %> |
<%= link_to 'Back', vf_electrical_meter_events_path %>
