<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vf_light_sensor_event.name %>
</p>

<%= link_to 'Edit', edit_vf_light_sensor_event_path(@vf_light_sensor_event) %> |
<%= link_to 'Back', vf_light_sensor_events_path %>
