<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_controltype.name %>
</p>

<%= link_to 'Edit', edit_v_controltype_path(@v_controltype) %> |
<%= link_to 'Back', v_controltypes_path %>
