<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_typeactiveperiod.name %>
</p>

<%= link_to 'Edit', edit_v_typeactiveperiod_path(@v_typeactiveperiod) %> |
<%= link_to 'Back', v_typeactiveperiods_path %>
