<h1>Editing Ar Flampactuator Targetlightcommand</h1>

<%= render 'form' %>

<%= link_to 'Show', @ar_flampactuator_targetlightcommand %> |
<%= link_to 'Back', ar_flampactuator_targetlightcommands_path %>
