<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @v_typeexecution.description %>
</p>

<%= link_to 'Edit', edit_v_typeexecution_path(@v_typeexecution) %> |
<%= link_to 'Back', v_typeexecutions_path %>
