<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vf_photocell_event.name %>
</p>

<%= link_to 'Edit', edit_vf_photocell_event_path(@vf_photocell_event) %> |
<%= link_to 'Back', vf_photocell_events_path %>
