<h1>Editing Ed Logicaldev Vs Data Pkg Transfer Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @ed_logicaldev_vs_data_pkg_transfer_event %> |
<%= link_to 'Back', ed_logicaldev_vs_data_pkg_transfer_events_path %>
