<h1>Editing Ed Logicaldev Vf Generic Sensor Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @ed_logicaldev_vf_generic_sensor_event %> |
<%= link_to 'Back', ed_logicaldev_vf_generic_sensor_events_path %>
