<h1>Editing Ed Logicaldev Vs Data Collect Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @ed_logicaldev_vs_data_collect_event %> |
<%= link_to 'Back', ed_logicaldev_vs_data_collect_events_path %>
